/*
Author: D. Achoendov
Author URI: https://www.achoendov.nl
*/

@font-face {
	font-family: 'which';
    font-weight: normal;
    font-style: normal;
    src: url('../public/Twitchy.TV.otf');
}

/*
html::-webkit-scrollbar {
    display: none;
}
*/
html,
body {
	width: 100%;
}

body {
    height: 100vh;
	background-color: #fff;
}

body.scroll-lock {
	overflow: hidden;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 3px;
}

nav {
    position: fixed;
    top:0;left:0;right:0;
    height: 50px;
    z-index: 1000;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15),0 0px 2px rgba(0,0,0,0.1);
    background: #fff;
}

.logo {
    padding: 0 1rem;
}

.nav-item {
    height: 50px;
    padding: 0 1rem;
    cursor: pointer;
}

#main {
    padding-top: 50px;
}

.side-bar {
    background: #00000026;
}

.main-content {
    overflow-y: scroll;
    overflow-x: hidden;
}

/* responsive */

@media only screen and (max-width: 1319px) {

}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 400px) {

}

