/*
Author: D. Achoendov
Author URI: https://www.achoendov.nl
*/

@font-face {font-family: 'lunchtype22';src: url('fonts/lunchtype/lunchtype22-regular-web.ttf');}
@font-face {font-family: 'lunchtype22 light';src: url('fonts/lunchtype/lunchtype22-light-web.ttf');}
@font-face {font-family: 'lunchtype22 medium';src: url('fonts/lunchtype/lunchtype22-medium-web.ttf');}
@font-face {font-family: 'Graphik';font-style: normal;font-weight: normal;src: url('../fonts/graphik/Graphik-Regular.ttf');}

html,
body {
	width: 100%;
	height: 100%;
	transition: all 300ms cubic-bezier(1,.13,.42,.91);
	background-color: #000;
	overflow-x: hidden;
}

body.scroll-lock {
	overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.hero {
    width: 100%;
    height: 70vh;
}

.hero > .banner {
    width: 100%;
    height: 100vh;
}

.hero > .content {
    mix-blend-mode: difference;
}

.main-content {
    margin-top: 60vh;
}

.main-content > .left {
    height: 100%;
    margin: 10vw 0 0 10vw
}

.main-content > .right {
    height: 100%;
    margin: 0 0 0 10vw
}

.js-section > .banner {
    height: 75vh;
    width: 100%;
    margin-top: 10vh;
}

.js-section > .sub-info {
    margin-top: 2rem;
    padding-bottom: 1rem;
}

.js-section > .sub-info > .sub {
    color: #cecece;
    padding-bottom: 10px;
}

.js-section > .sub-info > .title > h2 {
    font-weight: 100;
}

/* responsive */

@media only screen and (max-width: 1319px) {

}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 400px) {

}

