/*
Author: D. Achoendov
Author URI: https://www.achoendov.nl
*/

@font-face {
	font-family: 'which';
    font-weight: normal;
    font-style: normal;
    src: url('../public/Twitchy.TV.otf');
}

/*
html::-webkit-scrollbar {
    display: none;
}
*/

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	outline: none;
    border: none;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #000;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.full {
    width: 100%;
    height: 100%;
}

.flex {
    display: flex;
}
.flex.vertical {
    flex-direction: column;
}
.flex.align-center {
    align-items: center;
}
.flex.justify-center {
    justify-content: center;
}
.flex.justify-between {
    justify-content: space-between;
}
.flex.justify-around {
    justify-content: space-around;
}

a, p , span, h1, h2, h3, h4, h5, h6, li {
    color: #fff;
    text-decoration: none;
    list-style: none;
}

.nav {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    /* https://cssgradient.io/ */
    background: rgba(0, 0, 0, 0.52);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.52) 0%, rgba(255,255,255,0) 100%);
}

.nav__left,
.nav__right {
    position: absolute;
    top: 0;
    height: 60px;
}

.nav__left {
    left: 0;
}

.nav__right {
    right: 0;
}

.nav__item {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 3px;
    position: relative;
    overflow: hidden;
}

.nav__item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
    transform-origin: top;
    transform: scaleY(0);
    transition: all .4s ease;
}

.nav__item:hover::before {
    transform-origin: top;
    transform: scaleY(1); 
}

.page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.article {
    padding: 10vh 0;
    position: relative;
}

.text-block,
.img-block {
    width: 50%;
    flex: 0 1 50%;  
}

.img-block {
    overflow: hidden;
    height: 500px;
    position: relative;
    padding: 3rem;
}

.img-block > .bg {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero {
    position: relative;
}

.hero.quarter {
    height: 75vh;
}

.bg-vid {
    overflow: hidden;
}

.bg-vid > .video {
    transform: scale(1.2);
}

.bg-vid, .bg-img, .shadow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.shadow {
    background-color: #0000007a;
}

.stats__container {
    width: 100%
}

.table-layout > span {
    padding-left: 1rem
}

.stats__stat {
    flex: 1;
    text-align: center;
    padding: 0 3rem;
}

.quote,
.cta.center  {
    text-align: center;
}

.cta.offset {
    margin-top: 3rem;
}

.cta > a {
    padding: 1rem;
    border: 2px solid #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: relative;
    overflow: hidden;
    display: block;
    transition: all .4s ease;
    z-index: 1;
}

.cta > a:hover {
    color: #000;
}


.cta > a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: -1;
    transform: translateX(-100%);
    transition: all .4s ease;
}

.cta > a:hover::before {
    transform: translateX(0%);
}

/* responsive */

@media only screen and (max-width: 1319px) {

}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 400px) {

}

